@{
    var product = Model as CarSmash.Models.Product;
}
<div class="col s12 m6 l4">
    <a href="/Home/ProductDetails/@product.ProductId" class="productTile">
        <div class="card">
            <div class="card-image">
                <img src="@product.Images.ElementAtOrDefault(0).Url">
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="product-name col s6">@product.Name</div>
                    <div class="product-price col s6 right-align">@string.Format("{0:C}", product.Price)</div>
                </div>
            </div>
        </div>
    </a>
</div>

