@using System.Security.Claims
@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                <a asp-controller="Manage" asp-action="Index" title="Manage" class="user-name"><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Manage Account">face</i></a>
          
                <a onclick="$(this).parent().submit()"><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Log Out">exit_to_app</i> </a>
   
    </form>
}
else
{
    <ul>
        <li><a class="tooltipped" asp-controller="Account" asp-action="Register" data-position="bottom" data-delay="50" data-tooltip="Register"><i class="material-icons">account_circle</i></a></li>
        <li><a class="tooltipped" asp-controller="Account" asp-action="Login" data-position="bottom" data-delay="50" data-tooltip="Login"><i class="material-icons">face</i></a></li>
    </ul>
}