<div class="fixed-action-btn menu-button horizontal">
    <a class="btn-floating btn-large">
        <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li><a asp-action="Index" asp-controller="Posts" class="btn-floating btn-large"><i class="material-icons large tooltipped" data-position="bottom" data-delay="50" data-tooltip="View Posts">library_books</i></a></li>
        <li><a asp-action="Videos" asp-controller="Home" class="btn-floating btn-large"><i class="material-icons large tooltipped" data-position="bottom" data-delay="50" data-tooltip="View Videos">video_library</i></a></li>
        <li><a asp-action="ViewCart" asp-controller="Home" class="btn-floating btn-large"><i class="material-icons large tooltipped" data-position="bottom" data-delay="50" data-tooltip="View Shopping Cart">shopping_cart</i></a> (@ViewBag.Cart.Count)</li>
        <li><a asp-action="Products" asp-controller="Home" class="btn-floating btn-large"><i class="material-icons large tooltipped" data-position="bottom" data-delay="50" data-tooltip="View Products">monetization_on</i></a></li>
        <li>@await Html.PartialAsync("_LoginPartial")</li>
    </ul>
</div>
<div class="navbar-fixed">
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a asp-controller="Home" asp-action="Index" class="brand-icon">CarSmash</a>
                <ul class="right hide-on-med-and-down">
                    <li><a asp-action="Index" asp-controller="Posts"><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="View Posts">library_books</i></a></li>
                    <li><a asp-action="Videos" asp-controller="Home"><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="View Videos">video_library</i></a></li>
                    <li><a asp-action="ViewCart" asp-controller="Home"><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="View Shopping Cart">shopping_cart</i></a> (@ViewBag.Cart.Count)</li>
                    <li><a asp-action="Products" asp-controller="Home"><i class="material-iconsclass=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="View Products">monetization_on</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>