@using System.Security.Claims

<div class="navbar-fixed">
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a asp-controller="Home" asp-action="Index" class="brand-icon">CarSmash</a>
                <a data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
                <a class="right cartIcon" asp-action="ViewCart" asp-controller="Home">(<span id="CartCount">@ViewBag.Cart.Count</span>)</a>
                <a class="right cartIcon" asp-action="ViewCart" asp-controller="Home"><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="View Shopping Cart">shopping_cart</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a asp-action="Products" asp-controller="Home"><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="View Products">monetization_on</i></a></li>
                    <li><a asp-action="Index" asp-controller="Posts"><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="View Posts">library_books</i></a></li>
                    <li><a asp-action="Videos" asp-controller="Home"><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="View Videos">video_library</i></a></li>
                    <li>@await Html.PartialAsync("_LoginPartial")</li>
                </ul>
                <ul class="side-nav center" id="mobile-demo">
                    @if (User.IsSignedIn())
                    {
                        <li>

                            <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                                <a asp-controller="Manage" asp-action="Index" title="Manage" class="user-name">Manage Account</a>

                                <a onclick="$(this).parent().submit()">Log Out</a>
                            </form>
                        </li>
                    }
                    else
                    {

                        <li><a class="tooltipped" asp-controller="Account" asp-action="Register" data-position="bottom" data-delay="50" data-tooltip="Register">Register</a></li>
                        <li><a class="tooltipped" asp-controller="Account" asp-action="Login" data-position="bottom" data-delay="50" data-tooltip="Login">Login</a></li>

                    }
                    <li><a asp-action="Index" asp-controller="Posts">Posts</a></li>
                    <li><a asp-action="Videos" asp-controller="Home">Videos</a></li>
                    <li><a asp-action="ViewCart" asp-controller="Home">Shopping Cart</a></li>
                    <li><a asp-action="Products" asp-controller="Home">Products</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>