<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a asp-controller="Home" asp-action="Index" class="brand-icon">CarSmash</a>
            <ul class="right hide-on-small-and-down">
                <li>@Html.ActionLink("Posts", "Posts", "Home")</li>
                <li>@Html.ActionLink("Videos", "Videos", "Home")</li>
                <li>@Html.ActionLink("Products", "Products", "Home")</li>
                <li>@await Html.PartialAsync("_LoginPartial")</li>
            </ul>
        </div>
    </nav>
</div>