@using Microsoft.AspNet.Mvc.ViewFeatures
@{
    
}

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a asp-controller="Home" asp-action="Index" class="brand-icon ajax" data-target="#content">CarSmash</a>
            <ul class="right hide-on-small-and-down">
                <li><a href="/Home/Posts" class="ajax" data-target="#content">Posts</a></li>
                <li><a href="/Home/Videos" class="ajax" data-target="#content">Videos</a></li>
                <li><a href="/Home/Products" class="ajax" data-target="#content">Products</a></li>
                <li>@await Html.PartialAsync("_LoginPartial")</li>
            </ul>
        </div>
    </nav>
</div>