$primary-color: color("grey", "lighten-5");
$primary-shaded: color("grey", "lighten-3");
$primary-bg-color: color("grey", "darken-1");
$primary-link-color: color("cyan", "accent-3");
$highlight: color("cyan", "accent-2");