@import "layout/index";
@import "layout/navbar";

@import "base/variables";

body, html {
    .body-content {
        height: 100%;
        width: 100%;
    }
}

@media (max-width:600px) {
    h3, h2, h4, h5 {
        font-size: small;
    }

    .caption h4, .caption h5 {
        background-color: rgba(7,0,0,0.7);
        display: inline;
        font-size: small;
        opacity: .75;
    }
}

.productTile {
    img {
        width:100px;
    }
}