@import "layout/index";
@import "layout/navbar";
@import "layout/products";
@import "base/inputs";
@import "base/variables";
@import "layout/productDetails";
@import "layout/ShoppingCart";


html, body {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .nav-wrapper {
        font-family: $fjalla;

        .brand-icon {
            font-family: $fjalla;
            font-size: 2.4em;
            padding-left: 20px;
        }
    }

    * {
        flex-shrink: 0;
    }

    .body-content {
        height: 100%;
        width: 100%;
        font-family: $ptsans;
        color: black;
        background-image: url(../images/smooth3.gif);
        background-attachment:fixed;
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
        padding-bottom:1000px;
        overflow:hidden;
        //background-color: lighten(lightgrey, 2);
        font-size: 1.4em;

        h1, h2, h3, h4, h5 {
            font-family: $fjalla;
        }

        p {
            text-align: justify;
        }

        .container {
            background-color: lighten(lightgrey, 2);
        }
    }
}

@media (max-width:600px) {
    h1, h3, h2, h4, h5 {
        font-size: medium;
    }

    .caption h4, .caption h5 {
        background-color: rgba(7,0,0,0.7);
        display: inline;
        font-size: small;
        opacity: .75;
    }
}

@media (min-width:992px) {
    .row {
        width:90%;
    }
}

.productTile {
    img {
        width: 100px;
    }
}

.CartList {
    ul {
        margin:0;
        padding-top:10px;
        width: 90%;
        display: flex;
        list-style-type: none;
        justify-content: space-between;

        li {
            display: inline-block;
        }
    }
}

.Title {
    font-weight: bold;
}

.product-images {
    width: 30%;

    .product-display-image {
        img {
            width: 100%;
        }
    }

    .product-image-list {
        img {
            width: 100px;
        }
    }
}

.product-header {
    font-size: 2em;
    font-weight: bold;
}

.videos {
    #player {
        height: 400px;
        width: 80%;
    }

    p {
        padding-right: 10px;
    }
}