@import "layout/index";
@import "layout/navbar";
@import "layout/products";
@import "base/inputs";
@import "base/variables";

body, html {
    .nav-wrapper {
        font-family: $fjalla;

        .brand-icon {
            font-family: $fjalla;
            font-size: 2.4em;
            padding-left: 20px;
        }
    }

    .body-content {
        height: 100%;
        width: 100%;
        font-family: $ptsans;
        color: black;
        background-image: url(../images/rx7.png);
        background-color: lighten(lightgrey, 2);
        font-size: 1.4em;
        background-size: contain;
        h1, h2, h3, h4, h5 {
            font-family: $fjalla;
        }
        .container {
            background-color: lighten(lightgrey, 2);

        }
    }
}

@media (max-width:600px) {
    h1, h3, h2, h4, h5 {
        font-size: medium;
    }

    .caption h4, .caption h5 {
        background-color: rgba(7,0,0,0.7);
        display: inline;
        font-size: small;
        opacity: .75;
    }
}

.productTile {
    img {
        width: 100px;
    }
}

.CartList {
    ul {
        width: 90%;
        display: flex;
        list-style-type: none;
        justify-content: space-between;

        li {
            display: inline-block;
        }
    }
}

.Title {
    font-weight: bold;
}
