@model CarSmash.ViewModels.Products.CreateProduct

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<div class="row">
    <form asp-action="Create" class="col s6">
        <div class="row">
                <h4>Product</h4>
                <hr />
                <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                <div class="input-field">
                    <label asp-for="Name" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Name" class="validate" />
                        <span asp-validation-for="Name" class="text-danger" />
                    </div>
                </div>
                <div class="input-field">
                    <label asp-for="Description" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Description" class="validate" />
                        <span asp-validation-for="Description" class="text-danger" />
                    </div>
                </div>

                <div class="input-field col s6">
                    <label asp-for="Price" class="col-md-2 control-label"></label>
                    <input asp-for="Price" class="validate" />
                    <span asp-validation-for="Price" class="text-danger" />
                </div>
                <div class="input-field">
                    <div class="col-md-offset-2 col-md-10">
                    </div>
                </div>    
            <div class="input-field">
                <div class="btn waves-effect waves-ripple">
                    <span>add photo</span>
                    <input type="file" name="file" asp-for="File" />
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" />
                </div>
            </div>     
                @*<div class="input-field">
                    <label asp-for="Images" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Images" type="text" class="validate" />
                        <span asp-validation-for="Images" class="text-danger" />
                    </div>*@
                <div class="input-field">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
