@model CarSmash.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<div class="row">
    <form asp-action="Create" class="col s12">
        <div class="row">
            <h4>Product</h4>
            <hr />
            <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
            <div class="input-field col s12">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="validate" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
            <div class="input-field col s7">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="validate" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
            <div class="input-field col s4">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="validate" />
                <span asp-validation-for="Price" class="text-danger" />
            </div>

            <div class="input-field col s1">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}