
@{
    Layout = "_RoleLayout";
}

@foreach (var s in Model)
{
    <div>
        @s.ToString() | <span onclick="return confirm('are you sure you delete you?')">
            <a href="/Roles/Delete?RoleName=@s.ToString()">Delete</a> 
        </span> | <a href="/Roles/Edit?RoleName=@s.ToString()">Edit</a>
    </div>
}