.main-page {
  background-color: #e0e0e0;
  padding-left: 10px;
  padding-right: 10px; }
  .main-page #player {
    width: 100%;
    margin-top: 20px; }
  .main-page p {
    padding-right: 7px; }

.player {
  min-width: 375px;
  /*height: 400px;*/ }

nav {
  background-color: black; }

.nav-wrapper {
  background-color: #9a9a9a; }
  .nav-wrapper .user-name {
    font-size: 1em; }
  .nav-wrapper .button-collapse {
    padding-right: 10px; }
  .nav-wrapper .side-nav {
    background-color: #7b7b7b; }
    .nav-wrapper .side-nav ul .large i {
      display: inline; }
    .nav-wrapper .side-nav .user-name {
      font-size: 1em; }
  .nav-wrapper a {
    color: #84ffff;
    text-shadow: 0.3px 0.5px 1px black;
    font-size: 1.6em; }
  .nav-wrapper a:hover, .nav-wrapper .navbarHover {
    color: #18ffff;
    text-shadow: 0px 0px 3px #f6f6f6;
    background-color: transparent; }
  .nav-wrapper i:hover {
    cursor: pointer;
    color: color("cyan", "accent-3"); }

.menu-button {
  position: absolute;
  top: 5px;
  right: 60px;
  z-index: 999; }

.products img {
  width: 100%; }

.products dt {
  font-weight: bold; }

.productTile .product-price {
  padding-right: 15px; }

/* label color */
.input-field label {
  color: #000; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000; }

.input-field input[type=text] {
  color: #000;
  background-color: lightgray; }

.input-field .materialize-textarea {
  color: #000;
  background-color: lightgray; }

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000; }

.product-details {
  width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 100px; }

.ViewCart {
  width: 90%;
  margin: auto; }
  .ViewCart h3 {
    margin-top: 0;
    padding-top: 20px;
    text-align: center; }
  .ViewCart ul {
    margin: 0;
    padding: 0; }
    .ViewCart ul li input[type=number] {
      width: 75px;
      text-align: center; }
  .ViewCart form button {
    width: 100%; }
  .ViewCart p {
    text-align: center !important; }
  .ViewCart a.btn {
    width: 100%;
    margin-top: 10px; }
  .ViewCart a.btn:last-child {
    margin-bottom: 100px; }

.Checkout {
  width: 90%;
  margin: auto; }
  .Checkout p {
    margin: 0;
    text-align: center !important;
    padding-top: 20px; }
  .Checkout form .btn {
    width: 100%;
    margin-bottom: 100px; }

.OrderSuccessful {
  padding-bottom: 100px; }
  .OrderSuccessful h1 {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    text-align: center; }
  .OrderSuccessful p {
    text-align: center !important; }

.videos {
  padding-top: 40px;
  padding-bottom: 100px; }

.products {
  padding-bottom: 100px;
  width: 95%;
  margin: auto; }
  .products h2 {
    text-align: center; }

.card-content {
  padding: 5px !important; }
  .card-content span {
    display: inline-block; }
  .card-content span:first-child {
    width: 50%;
    overflow: hidden; }
  .card-content span:last-child {
    width: 39%;
    text-align: right; }

.main-page {
  padding-bottom: 100px; }

.post-index {
  width: 90%;
  /*background-color: red;*/
  margin: auto; }

.manageParent {
  display: flex;
  /*border: solid blue 1px;*/
  /*.manageChild{*/
  /*border: solid red 1px;*/
  justify-content: space-around; }
  .manageParent h2 {
    align-content: center; }
  .manageParent h4 {
    align-content: center;
    margin-left: 20px; }
  .manageParent .passManage {
    /*display: flex;*/
    align-content: center;
    text-align: center; }
  .manageParent .changePass {
    text-align: center;
    align-content: center;
    margin-right: 40px; }

/*}*/
html, body {
  display: flex;
  flex-direction: column;
  min-height: 100%; }
  html .nav-wrapper, body .nav-wrapper {
    font-family: "Fjalla One", sans serif; }
    html .nav-wrapper .brand-icon, body .nav-wrapper .brand-icon {
      font-family: "Fjalla One", sans serif;
      font-size: 2.4em;
      padding-left: 20px; }
  html *, body * {
    flex-shrink: 0; }
  html .body-content, body .body-content {
    height: 100%;
    width: 100%;
    font-family: "PT Sans", sans-serif;
    color: black;
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 1000px;
    overflow: hidden;
    font-size: 1.4em; }
    html .body-content h1, html .body-content h2, html .body-content h3, html .body-content h4, html .body-content h5, body .body-content h1, body .body-content h2, body .body-content h3, body .body-content h4, body .body-content h5 {
      font-family: "Fjalla One", sans serif; }
    html .body-content p, body .body-content p {
      text-align: justify; }
    html .body-content .container, body .body-content .container {
      background-color: #d8d8d8; }

@media (max-width: 600px) {
  h1, h3, h2, h4, h5 {
    font-size: medium; }
  .caption h4, .caption h5 {
    background-color: rgba(7, 0, 0, 0.7);
    display: inline;
    font-size: small;
    opacity: .75; } }

@media (min-width: 700px) {
  .player {
    width: 700px;
    height: 400px; } }

.productTile img {
  width: 100px; }

.CartList ul {
  margin: 0;
  padding-top: 10px;
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-between; }
  .CartList ul li {
    display: inline-block; }

.Title {
  font-weight: bold; }

.product-images {
  width: 30%; }
  .product-images .product-display-image img {
    width: 100%; }
  .product-images .product-image-list img {
    width: 100px; }

.product-header {
  font-size: 2em;
  font-weight: bold; }
  .product-header padding {
    margin: 0;
    padding: 0; }

.videos #player {
  height: 400px;
  width: 80%; }

.videos p {
  padding-right: 10px; }

