.nav-wrapper {
  background-color: #8d8d8d; }
  .nav-wrapper a {
    color: #84ffff;
    text-shadow: 1px 1px 2px grey; }
  .nav-wrapper a:hover {
    color: #18ffff;
    text-shadow: 0px 0px 3px #f6f6f6;
    background-color: #8d8d8d; }

.products img {
  width: 100%; }

.products dt {
  font-weight: bold; }

body .brand-icon, html .brand-icon {
  font-family: "Fjalla One", sans serif; }

body .body-content, html .body-content {
  height: 100%;
  width: 100%;
  font-family: "PT Sans", sans-serif;
  background-color: color("grey", "darken-4");
  color: color("grey", "lighten-5"); }
  body .body-content h, html .body-content h {
    font-family: "Fjalla One", sans serif; }

@media (max-width: 600px) {
  h3, h2, h4, h5 {
    font-size: small; }
  .caption h4, .caption h5 {
    background-color: rgba(7, 0, 0, 0.7);
    display: inline;
    font-size: small;
    opacity: .75; } }

.productTile img {
  width: 100px; }

.CartList ul {
  width: 90%;
  display: flex;
  list-style-type: none;
  justify-content: space-between; }
  .CartList ul li {
    display: inline-block; }

.Title {
  font-weight: bold; }

