<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<form method="Post" id="card-form">
    <label for="card-number">card number</label>
    <input id="card-number" type="text" value="4000000000000077"/>
    <label for="card-cvc">cvc</label>
    <input id="card-cvc" type="text" value="999"/>
    <label for="card-expiry-month">Exp.month</label>
    <input id="card-expiry-month" type="text" value="01"/>
    <label for="card-expiry-year">exp.year</label>
    <input id="card-expiry-year" type="text" value="2017"/>
    <input type="submit" value="submit"/>
</form>

