@model ICollection<CarSmash.Models.Post>
@{
    ViewData["Title"] = "CARSMASH";
    Layout = Layout;
}
<div class="main-page">
    <div class="row">
        <div class="col s7">
            <h3>Popular Videos</h3>
            <iframe id="player" type="text/html"
                    src="http://www.youtube.com/embed/hpb2Him9CUo&enablejsapi=1&origin=http://example.com"
                    frameborder="0"></iframe>
            <iframe id="player" type="text/html"
                    src="http://www.youtube.com/embed/hpb2Him9CUo&enablejsapi=1&origin=http://example.com"
                    frameborder="0"></iframe>
        </div>
        <div class="col s5">

            <h3>Newest Posts</h3>
            @if (Model != null)
            {
                foreach (var post in Model)
                {
                    <h5>@post.Title</h5>
                    <p>@post.Body</p>

                }

            }
           
        </div>
    </div>
</div>