@model ICollection<CarSmash.Models.Post>
@{
    ViewData["Title"] = "CARSMASH";
    Layout = Layout;
}
<div class="main-page">
    <div class="row">
        <div class="col m7 s12">
            <h3>Popular Videos</h3>
            <iframe class="player" type="text/html" allowfullscreen="allowfullscreen"
                    src="http://www.youtube.com/embed/hpb2Him9CUo"
                    frameborder="0"></iframe><br />
            <iframe class="player" type="text/html" allowfullscreen="allowfullscreen"
                    src="http://www.youtube.com/embed/s7Iv42AOZIk"
                    frameborder="0"></iframe><br />
            <iframe class="player" type="text/html" allowfullscreen="allowfullscreen"
                    src="http://www.youtube.com/embed/cbGWgvJN1_8"
                    frameborder="0"></iframe>
        </div>
        <div class="col m5 s12">
                    <h5>Who We Are</h5>
                    <p>Mighty Car Mods is an independent automotive series created by a couple of friends, Marty and Moog who started filming videos on Martys mum's driveway in 2007. They've come a long way since then but still have an unwavering focus to show their viewers fantastic automotive projects that they can do themselves at home. The MCM boys make cars, and they make movies. In fact they do it all, including the music, editing, and automotive with some help from their friends along the way. Being completely independent, the boys don't have to answer to anyone except their own creative spirit and their focus is on quality over quantity.  It doesn't matter if you have a brand new turbo charged beast, or an old banger found in your grandfathers shed. Mighty Car Mods openly embraces anyone who wants to better themselves and their cars through involvement with the MCM Community.</p>
        </div>
    </div>
</div>