@{
    double balance = ViewBag.Balance;
}
<div class="OrderSuccessful">
    <h1>Order Successful!</h1>
    <p>Thank you for supporting car smash!</p>
    <p>We have collected @string.Format("{0:C}", balance) from our fans!</p>
    <p>Your order will be shipped ASAP.</p>
</div>