@using CarSmash.Models;

@{
    var products = Model;
}
<div class="container products">
    <h2>Products</h2>
    <div class="row">
        @foreach (var product in products)
        {
            @Html.DisplayFor(m => product, "ProductTile")
        }
    </div>
</div>

<a href="/Home/ViewCart" class="ajax" data-target="#content"><h3>Shopping Cart</h3></a>
<p>@ViewBag.Cart.Count</p>