@using CarSmash.Models;

@{
    var products = Model;
}

<h2>Products</h2>
<ul>
    @foreach (var product in products)
    {
        @Html.DisplayFor(m => product, "ProductTile")
    }
</ul>

<h3>Shopping Cart</h3>
<p>@ViewBag.Cart.Count</p>