<div class="videos center">

    <iframe id="player" type="text/html"
            src="http://www.youtube.com/embed/videoseries?list=UUgJRL30YS6XFxq9Ga8W2J3A&enablejsapi=1&origin=http://example.com"
            frameborder="0"></iframe>
</div>