@model CarSmash.Models.Post

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <div class="row">
        <br />

        <h2>Create</h2>

        <form asp-action="Create" asp-controller="PostsController" class="col s12">

            <div class="row">
                <h4>Post</h4>
                <hr />
                <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger">

                </div>
                <div class="input-field col s4">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="validate" />
                    <span asp-validation-for="Title" class="text-danger" />
                </div>
                <div class="input-field col s4">
                    <label asp-for="Body"></label>
                    <textarea asp-for="Body" class="validate materialize-textarea"></textarea>
                    <span asp-validation-for="Body" class="text-danger" />
                </div>
                <div class="input-field col s4">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </form>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>