@model CarSmash.Models.Post

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <div class="row">
        <br />
        <h2>Edit</h2>
        <form asp-action="Edit" asp-controller="Post" class="col s12" method="post">
            <div class="form-horizontal">
                <h4>Post</h4>
                <hr />
                <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PostId" />
                <div class="input-field col s4">
                    <label asp-for="Title"></label>

                    <input asp-for="Title" class="validate" type="text" />
                    <span asp-validation-for="Title" class="text-danger" />
                </div>
                <div class="input-field col s4">
                    <label asp-for="Body"></label>
                    <textarea class="materialize-textarea validate" asp-for="Body">
                    </textarea>
                    <span asp-validation-for="Body" class="text-danger" />
                </div>

                <div class="input-field col s4">

                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </form>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>