.main-page {
    background-color: lighten(lightgrey, 5);
    padding-left: 10px;
    padding-right: 10px;
    #player {
        width: 100%;
        margin-top: 20px;
        
    }
    p {
        padding-right: 7px;
    }
}
