.manageParent {
  display: flex;
  /*border: solid blue 1px;*/
  /*.manageChild{*/
  /*border: solid red 1px;*/
  justify-content: space-around; }
  .manageParent h2 {
    align-content: center; }
  .manageParent h4 {
    align-content: center;
    margin-left: 20px; }
  .manageParent .passManage {
    /*display: flex;*/
    align-content: center;
    text-align: center; }
  .manageParent .changePass {
    text-align: center;
    align-content: center;
    margin-right: 40px; }

/*}*/

