.nav-wrapper {
    background-color: darken(darkgrey, 6);
    

    a {
        color: #84ffff;
        text-shadow: 0.3px 0.5px 1px black;
        font-size: 1.6em;
    }

    a:hover {
        color: #18ffff;
        text-shadow: 0px 0px 3px #f6f6f6;
    background-color: darken(darkgrey, 6);
    }

    i:hover {
        cursor: pointer;
        color: color("cyan", "accent-3");
    }
}