.products {
    img {
    width: 100%;
    }
    dt {
        font-weight: bold;
    }

}
.productTile {
    .product-price {
        padding-right: 15px;
    }
}

.product-container {
   .product-header p {
      text-align: center;

   }
    .product-price p {
        text-align: center;
    }
     /*display: flex;
     flex-flow: column wrap;*/
 }