.ViewCart {
    width:90%;
    margin:auto;
    h3 {
        margin-top:0;
        padding-top:20px;
        text-align:center;
    }
    ul {
        li {
            input[type=number] {
                width:75px;
                text-align:center;
            }
        }
    }
    form {
        button {
            width:90%;
        }
    }
    p {
        text-align:center;
    }
    a.btn {
        width:90%;
        margin-top:10px;
    }
    a.btn:last-child {
        margin-bottom:100px;

    }
}

.Checkout {
    width:90%;
    margin:auto;
    p {
        margin:0;
        text-align:center;
        padding-top:20px;
    }
    form {
        .btn {
            width:100%;
            margin-bottom:100px;
        }
    }
}

.OrderSuccessful {
    padding-bottom:100px;
    h1 {
        margin:0;
        padding:0;
        padding-top:20px;
        text-align:center;

    }
    p {
        text-align:center;

    }
}

.videos {
    padding-top:100px;
    padding-bottom:100px;
}