.ViewCart {
    width:90%;
    margin:auto;
    h3 {
        margin-top:0;
        padding-top:20px;
        text-align:center;
    }
    ul {
        margin:0;
        padding:0;
        li {
            input[type=number] {
                width:75px;
                text-align:center;
            }
        }
    }
    form {
        button {
            width:100%;
        }
    }
    p {
        text-align:center !important;
    }
    a.btn {
        width:100%;
        margin-top:10px;
    }
    a.btn:last-child {
        margin-bottom:100px;

    }
}

.Checkout {
    width:90%;
    margin:auto;
    p {
        margin:0;
        text-align:center !important;
        padding-top:20px;
    }
    form {
        .btn {
            width:100%;
            margin-bottom:100px;
        }
    }
}

.OrderSuccessful {
    padding-bottom:100px;
    h1 {
        margin:0;
        padding:0;
        padding-top:20px;
        text-align:center;
    }
    p {
        text-align:center !important;
    }
}

.videos {
    padding-top:100px;
    padding-bottom:100px;
}

.products {
    padding-bottom:100px;
    width:95%;
    margin:auto;
    h2 {
        text-align:center;
    }
}

.card-content {
    padding:5px !important;
    span {
        display:inline-block;
    }
    span:first-child {
        width:50%;
        overflow:hidden;
    }
    span:last-child {
        width:39%;
        text-align:right;
    }
}