@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}


<div class="manageParent">
<div class="manageChild">
    <h2>@ViewData["Title"].</h2>
    <h4>Change your account settings</h4>
    <hr />
    <div class="passManage">
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd class="changePass">
            @if (Model.HasPassword)
            {
                <text>[&nbsp;&nbsp;<a asp-controller="Manage" asp-action="ChangePassword">Change</a>&nbsp;&nbsp;]</text>
            }
            else
            {
                <text>[&nbsp;&nbsp;<a asp-controller="Manage" asp-action="SetPassword">Create</a>&nbsp;&nbsp;]</text>
            }
        </dd>
        <ul>
            @if (ViewData["Admin"].ToString() == "true")
            {
                <li><a href="/Products/Index">Manage Products</a></li>
                <li><a href="/Posts/Index">Manage Posts</a></li>
                <li><a href="/Roles/Index">Manage Roles</a></li>
            }
        </ul>
       </dl>
        <p class="text-success">@ViewData["StatusMessage"]</p>
    </div>
  </div>
</div>
